<img src = excelrlogo.png/>

### ASSIGNMENT-03 -- TEST OF HYPOTHESIS

#### PROBLEM STATEMENT -- Costomer+OrderForm

We have Costomer+OrderForm datset in csv format

#### Libraries

In [1]:
import numpy as np
import pandas as pd

In [2]:
Costomer_OrderForm = pd.read_csv("Costomer+OrderForm.csv")
Costomer_OrderForm

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [3]:
Costomer_OrderForm.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [4]:
Costomer_OrderForm.Phillippines.value_counts(), '\n' ,Costomer_OrderForm.Indonesia.value_counts(), '\n' ,Costomer_OrderForm.Malta.value_counts(), '\n' ,Costomer_OrderForm.India.value_counts()

(Error Free    271
 Defective      29
 Name: Phillippines, dtype: int64,
 '\n',
 Error Free    267
 Defective      33
 Name: Indonesia, dtype: int64,
 '\n',
 Error Free    269
 Defective      31
 Name: Malta, dtype: int64,
 '\n',
 Error Free    280
 Defective      20
 Name: India, dtype: int64)

#### Changing the data frame format to array format

In [6]:
Costomer_OrderForm_Arr = Costomer_OrderForm.to_numpy()
Costomer_OrderForm_Arr

array([['Error Free', 'Error Free', 'Defective', 'Error Free'],
       ['Error Free', 'Error Free', 'Error Free', 'Defective'],
       ['Error Free', 'Defective', 'Defective', 'Error Free'],
       ...,
       ['Error Free', 'Error Free', 'Defective', 'Error Free'],
       ['Error Free', 'Error Free', 'Error Free', 'Error Free'],
       ['Error Free', 'Defective', 'Defective', 'Error Free']],
      dtype=object)

In [7]:
data = np.array([[271,267,269,280],[29,33,31,20]])
data

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

#### To find the Chi square value

In [9]:
from scipy.stats import chi2_contingency
chi2_contingency(data)

Chi2ContingencyResult(statistic=3.858960685820355, pvalue=0.2771020991233135, dof=3, expected_freq=array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]]))